@import "tailwindcss";

/* mobile */
html,
body {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  height: -webkit-fill-available;
}

#root {
  height: 100%;
  width: 100%;
}

/* map fills container */
.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* hawker popup dark mode */
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.leaflet-popup-content {
  margin: 0 !important;
}